@charset "utf-8";

.Token__Detail {
    width: 800px;
    height: 100%;
    background: #fff;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, .12);
    padding: 1rem;
    box-sizing: border-box;
    text-align: center;
    align-content: center;
    align-items: center;
    color :#333;
}

.Token__Detail .Token_Recommend {
    padding-top: 50px;
    align-content: center;
    align-items: center;
}