.password__show {
    right: 8px;
    z-index: 2;
}
.box1 {
    width: 100%;
    height: 100%;
    font-size: 25px;
    text-align: center;
  }
.box2 {
    width: 100%;
    height: 100%;
    font-size: 15px;
    text-align: center;
}
.main-container {
    width: 100%;
    text-align: center;
    margin: auto;
    gap: 1000px; /* 자식요소간의 간격 */
}
body{
    padding: 0;
    margin: 0;
  }
  div{
    box-sizing: border-box;
  }
  
  /* alert badge */
  .circle{
    display: inline-block;
    width: 5px;
    height: 5px;
    border-radius: 2.5px;
    background-color: #ff0000;
    position: absolute;
    top: -5px;
    left: 110%;
  }
  
  /* 녹색 텍스트 */
  .green_profile{
    color: #24855b;
  }
  
  .wrap_profile{
    background-color: #F8F8F8;  
  }
  /* 녹색배경 */
  .greenContainer_profile{  
    height: 7px;
    background-color: #b2beb9;    
    
    display: flex;
    align-items: flex-end;
    padding: 10px;
  }
  
  .greenContainer_profile .name{
     font-size: 20px;
    font-weight: bold;
    color: #ffffff;
  } 
  .greenContainer_profile .modify{
    margin-left: auto;
  }
  
  .summaryContainer_profile{
    background-color: white;  
    display: flex;  
    padding: 21px 16px;  
    height: 90px;
    margin-bottom: 10px;
  }

  .summaryContainer_profile .item_profile{
    flex-grow: 1
  }
  /* 녹색 숫자 */
  .summaryContainer_profile .number_profile{
    font-size: 19px;
    font-weight: bold;
    color: #24855b;
  }
  /* 텍스트 */
  .summaryContainer_profile .item_profile > div:nth-child(2){
    font-size: 13px;
  }
  
  .shippingStatusContainer_profile{
    padding: 21px 16px;
    background-color: white;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .shippingStatusContainer_profile .title_profile{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  
  .shippingStatusContainer_profile .status_profile{
    display: flex;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  .shippingStatusContainer_profile .item_profile{
    flex-grow: 1
  }
  
  .shippingStatusContainer_profile .number_profile{
    font-size: 31px;
    font-weight: 500;
    text-align: center;
  }
  .shippingStatusContainer_profile .text_profile{
    font-size: 15px;
    font-weight: normal;
    color: #c2c2c2;
    text-align: center;
  }
  .shippingStatusContainer_profile .icon_profile{
    display: flex;
    align-items: center;
    padding: 20px;
    width: 16px;
    height: 16px;
  }
  

  .listContainer_profile{  
    padding: 0;
    background-color: #ffffff;
    margin-bottom: 10px;
  }
  .listContainer_profile .item_profile{  
    flex-grow: 1;
    display: flex;
    align-items: center;
    padding: 16px;
    color: black;
    text-decoration: none;  
    height: 56px;
    box-sizing: border-box;
  }
  .listContainer_profile .icon_profile{  
    margin-right: 14px;
  }
  .listContainer_profile .text_profile{
    font-size: 16px;
    position: relative;
    flex-grow: 1;
  }
  .listContainer_profile .right_profile{
    margin-left: auto;
  }
  
  
  .listContainer_profile .smallLight{
    font-size: 14px;
    color: #c2c2c2;  
  }
  .listContainer_profile .smallLight > span{
    margin-left: 10px;
  }
  
  .listContainer_profile .right_profile .blct{
    font-size: 14px;
    font-weight: bold;
    margin-right: 5px;
  }
  
  
  .infoContainer_profile{
    background-color: white; 
    display: flex;
    height: 100px;
    margin-bottom: 10px;    
  }
  
  .infoContainer_profile .item_profile{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 13px;
    text-decoration: none;
    color: black;
  }
  .infoContainer_profile .item_profile > div:first-child{
    margin-bottom: 2px;
  }

  .button_profile{
    align-items: flex-end;
  }
  
  
  
  /*  */
  .listContainer_profile .item_profile:hover{
  /*   background-color: #f8f8f8; */
  }
  .infoContainer_profile .item_profile:hover{
  /*   background-color: #f8f8f8; */
  }