
.description {
    margin-bottom : 20px;
    line-height: 25px;
    font-size: 15px;
}


.link {
    border-radius: 5%;
    /* background-color: #025C30; */
    line-height: 25px;
    font-size: 15px;
}